<a class="p-4 flex items-center h-fit justify-between gap-2 rounded-2xl border-2 border-main pr-2"
    href="{{link()?.link}}" target="_blank" (click)="disableLink($event)">

    {{link()?.link_name}}
    @if (loginSvc.user()?.role === 'teacher' || showControls()) {
    <div class="w-fit">
        <button (mouseenter)="hoverCloseButton.set(true)" (mouseleave)="hoverCloseButton.set(false)"
            (click)="deleteLink()"
            class="text-secondary rounded-full font-medium hover:scale-110 transition ease-in-out hover:bg-secondary hover:text-main-white flex items-center justify-center p-1">
            @if (isLoadingDelete()) {
            <div class="">
                <app-loading-wheel></app-loading-wheel>
            </div>
            }@else {
            <span class="material-icons w-full text-center">close</span>
            }
        </button>
    </div>
    }
</a>