@keyframes load {
    0%{
        stroke-dasharray: 420;
        stroke-dashoffset: 420;
    }
    100%{
        stroke-dasharray: 450;
        stroke-dashoffset: 0;
    }
}

.hero svg circle {
    fill: none;
}
.hero svg circle:nth-child(2){
    fill: none;
    stroke-dasharray: 450;
    stroke-dashoffset: 0;
}


.focus{
    @apply text-dark-grey translate-x-0 translate-y-0
}
.focusOut{
    @apply peer-placeholder-shown:translate-x-2 peer-placeholder-shown:translate-y-10 peer-placeholder-shown:text-secondary-grey
}
.heroAnimation{
    animation: load 1s  ease-in-out ;
}

