<section class="w-full bg-landing-gradient h-fit min-h-[90vh]">
    <div class="max-w-screen-xl h-[90vh] flex items-center justify-center gap-10 w-screen mx-auto">
        <div class="flex basis-1/2 items-center justify-center">
            <div class="flex w-1/2 flex-col h-full gap-5">
                <h1 class="text-8xl font-bold font-landing text-main">
                    Pilar London
                </h1>
                <p class="text-main text-xl font-medium">
                    Academia de ingles para todos los niveles
                </p>
                <button
                    class="px-4 py-2 rounded-lg w-fit border-2 border-secondary text-secondary text-xl font-bold hover:scale-110 hover:text-main-white hover:bg-secondary transition-all duration-200 ease-in-out shadow-xl">
                    Unete
                </button>
            </div>
        </div>
        <div class="basis-1/2 flex justify-center items-center h-full">
            <div class="w-full relative aspect-[13/10]">
                <img class="aspect-[13/10] w-full rounded-lg shadow-xl" src="assets/img/landingEjem.png" alt="Academy Photo">
                <div class="absolute bottom-2 h-2 p-1 rounded-full shadow bg-main-grey flex justify-evenly">
                    <div class="rounded-full bg-dark-grey shadow"></div>
                    <div class="rounded-full bg-dark-grey shadow"></div>
                    <div class="rounded-full bg-dark-grey shadow"></div>
                    <div class="rounded-full bg-dark-grey shadow"></div>
                </div>
            </div>
        </div>
    </div>
</section>
