<div #messageElement

     class="flex items-center justify-center transition-all duration-200 ease-in-out right-0 w-full pointer-events-none h-fit top-2 bounce fixed z-50  "
>

    <span
        class="rounded-3xl {{message().link ? 'cursor-pointer': ''}} overflow-hidden relative items-center pointer-events-auto flex flex-col gap-1 shadow {{message().type === 'error' ? 'bg-secondary': 'bg-main'}} text-xl p-4 text-main-white w-fit max-w-96 min-w-28 min-h-16">
        <div class="flex items-center gap-4">
            <div class=" p-2 border-r border-main-grey">
                <span
                    (click)="close()"
                    class="material-icons text-main-white p-1 rounded-full hover:bg-main-white hover:text-secondary cursor-pointer transition-all ease-in-out">close</span>
            </div>
            <span (click)="onClick()" #messageElement [innerHTML]="message().message" class="overflow-hidden h-full">
            </span>
        </div>
        <div class="absolute w-full overflow-hidden flex px-4 items-center bottom-2 left-0 h-[2px] ">
            <div  class="w-[90%]  mx-auto  h-fit overflow-hidden">
            <div #timeBar class="transition-all bg-main-white w-full  h-[2px] ease-linear "
            ></div>
            </div>
        </div>
    </span>
</div>
