<div class="hidden w-[160%] translate-x-[120%] translate-x-[70%]"></div>
<div class="bg-main-grey">
    <div
        class="min-h-[90vh] p-3 mt-[10vh] max-w-screen-lg  w-screen bg-transparent flex flex-col mx-auto items-center gap-10">
        <h1 class="text-7xl p-5 text-main font-bold m-10">{{ loginSvc.user()?.role === 'teacher' ? 'Tareas' : 'Tus tareas' }}</h1>
        <div class="border-b-2 border-font-grey w-screen max-w-screen-lg flex justify-between">
            @if (loginSvc.user()?.role === 'teacher') {
                <div class="w-full sm:w-1/2 flex">
                    <div class="border-b px-6 font-medium cursor-pointer transition relative"
                         (click)="resetTabs(); show.all = true;changeFilter()">
                        Tareas
                        <div #underlineTab
                             class="absolute -bottom-[3px] left-0 h-[3px] transition ease-in-out bg-secondary w-full shadow {{changeTab()}}">
                        </div>
                    </div>
                    <div class=" px-6 font-medium cursor-pointer transition "
                         (click)="resetTabs(); show.unmarked = true;changeFilter(true)">
                        Tareas por calificar
                    </div>
                </div>
            } @else {
                <div class="w-full sm:w-1/2 flex">
                    <div class="border-b px-6 font-medium cursor-pointer transition relative"
                         (click)="resetTabs(); show.all = true;changeFilter()">
                        Tus tareas
                        <div #underlineTab
                             class="absolute -bottom-[3px] left-0 h-[3px] transition ease-in-out bg-secondary w-full shadow {{changeTab()}}">
                        </div>
                    </div>
                    <div class=" px-6 font-medium cursor-pointer transition "
                         (click)="resetTabs(); show.toDo = true;changeFilter(true)">
                        Tareas sin hacer
                    </div>
                </div>
            }
            <div class="flex items-center">
                    <span
                        (click)="getAssignments(false);isLoading.set(true); refreshButton.classList.toggle('rotate-[360deg]')"
                        #refreshButton
                        class="duration-300 p-1 material-icons flex items-center text-main hover:text-main-white hover:bg-main rounded-full transition cursor-pointer ">refresh
                    </span>
            </div>
        </div>

        <div class="w-full flex gap-1 flex-wrap -translate-y-8 items-start justify-between">
<!--            <button (click)="showFilters.set(true)"
                    class=" rounded-lg py-2 px-4 border-2 border-main font-medium text-main hover:text-main-white hover:bg-main hover:scale-110 transition ease-in-out flex items-center gap-2">
                <span class="material-icons-outlined">filter_alt</span> Filtrar por <span
                class="material-icons-outlined">arrow_drop_up</span>

            </button>-->

            @if (loginSvc.user()?.role === 'teacher') {
                <button
                    (click)="showPostForm.set(true)"
                    class=" rounded-lg py-2 px-4 border-2 border-main font-medium text-main hover:text-main-white hover:bg-main hover:scale-110 transition ease-in-out flex items-center gap-2">
                    <span class="material-icons">add</span> | Crear tarea
                </button>
            }
        </div>
        @if (isLoading()) {
            <div class="w-full max-w-screen-xl bg-gray-300 animate-pulse h-[70vh] rounded-lg"></div>
            <div class="w-full max-w-screen-xl bg-gray-300 animate-pulse h-[70vh] rounded-lg"></div>
        } @else {

            <div #assignmentContainer class="flex flex-col w-full p-5 gap-5">
                @for (assignment of assignments(); track $index) {
                    <app-assignment-card (delete)="deleteAssignment($event)"
                                         [assignment]="assignment"></app-assignment-card>
                }
            </div>
        }

    </div>

    @if (showPostForm()) {
        <app-dialog>
            <app-assignment-form (close)="showPostForm.set(false)" (newAssignment)="assignments().push($event)"
                                 [groups]="groups()">
            </app-assignment-form>
        </app-dialog>
    }

</div>
