<div routerLink="/assignment/{{solution().assignment_id}}"
     class="w-full border-2 flex-wrap border-transparent hover:border-main hover:scale-105 hover:shadow-button-hover text-md justify-between rounded-lg bg-main-white relative shadow flex  h-fit p-10 gap-5 items-center transition-all duration-200 ease-in-out cursor-pointer">
                                <span class="text-xl text-main font-bold">
                                    <a routerLink="/group/{{solution().group_id}}">{{ solution().group_name }}</a> / <a
                                    routerLink="/assignment/{{solution().assignment_id}}"
                                    class="font-medium">{{ solution().assignment_name }}</a>
                                </span>
    @if (solution().note === null) {
        <span
            class="text-xl text-font-grey font-medium">Sin calificar</span>
    } @else {
        <span
            class="text-xl text-font-grey font-medium ">Nota <span
            class="{{parseInt(solution().note ?? '') >=5 ? 'text-green-500':'text-secondary'}}">{{ solution().note }}</span>/10</span>
    }

    <span
        class="absolute top-2 text-md left-2 text-secondary-grey">{{ datePipe.transform(solution().updated_at, 'HH:mm dd/MM/yyyy') }}</span>
</div>
