<section class="max-w-screen-sm w-screen max-h-[90vh] overflow-y-scroll  p-4 relative">
    <form action="" class="flex flex-col gap-4 px-5 items-center justify-start h-full w-full" [formGroup]="form"
          (submit)="createGroup($event)">
        <div class="flex w-full flex-col nav:flex-row gap-2 mb-4">
            <div class=" flex basis-1/2 flex-col ">
                <input
                    #nameInput
                    (input)="nameInput.classList.remove('border-secondary')"
                    formControlName="name" type="text" id="name"
                       class="peer p-2 border-b-2 border-main order-2 bg-transparent" placeholder=" ">
                <label for="name"
                       class="order-1 px-2 peer-placeholder-shown:translate-y-9 cursor-pointer select-none transition-all peer-placeholder-shown:text-font-grey text-dark-font peer-placeholder-shown:font-medium font-bold">
                    Nombre
                </label>
                <app-validation-error class="order-3" [form]="form" field="name" [errors]="['required']" (hasError)="nameInput.classList.add('border-secondary')"></app-validation-error>
            </div>
            <div class=" flex basis-1/2 flex-col ">
                <input
                    #capacityInput
                    (input)="capacityInput.classList.remove('border-secondary')"
                    formControlName="capacity" type="number" min="0" id="capacity"
                       class="peer p-2 border-b-2 border-main order-2 bg-transparent" placeholder=" ">
                <label for="capacity"
                       class="order-1 px-2 peer-placeholder-shown:translate-y-9 cursor-pointer select-none transition-all peer-placeholder-shown:text-font-grey text-dark-font peer-placeholder-shown:font-medium font-bold">
                    Capacity
                </label>
                <app-validation-error class="order-3" [form]="form" field="capacity" [errors]="['required']" (hasError)="capacityInput.classList.add('border-secondary')"></app-validation-error>
            </div>

        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-3 gap-y-5 justify-between h-fit items-center w-full nav:px-5">
            <div class="flex h-fit nav:w-fit items-center justify-start w-fit">
                <input type="file" (change)="getBanner($event)" id="banner" class="hidden"  accept="image/*"
                       #banner>
                <button (click)="showMenu($event)"
                        class="flex items-center shadow-md gap-2 px-4 w-fit py-2 bg-main-white rounded-lg hover:scale-110 hover:border-main hover:border-2 hover:shadow-button-hover text-main transition-all ease-in-out">
                    @if (form.get('banner')?.invalid) {
                        <span class="material-icons">image</span> Banner
                    } @else {
                        <span>{{ bannerFile()?.name }}</span>
                    }
                </button>
            </div>
            <div class="flex mt-10 nav:mt-0 gap-2 w-full nav:w-fit h-fit  flex-col items-start justify-center">
                <label for="lesson_time" class="text-font-grey font-medium">Starting hour</label>
                <input #timeInput (input)="timeInput.classList.remove('border-secondary')" type="time" formControlName="lessons_time" class="p-1 border-2 rounded-lg shadow  " id="lesson_time">
                <app-validation-error class="order-3 h-fit" [form]="form" field="lessons_time" [errors]="['required']" (hasError)="timeInput.classList.add('border-secondary')"></app-validation-error>
            </div>
            <div class="flex gap-2 h-fit justify-center flex-col items-start  w-full">
                <label for="lesson_days">Days</label>
                <select #lesson_days (change)="form.get('lesson_days')?.setValue(lesson_days.value);lesson_days.classList.remove('border-secondary')"
                        formControlName="lesson_days" class="p-1 border-2 rounded-lg bg-main-white shadow" id="lesson_days">
                    <option value="l-m">lunes - miercoles</option>
                    <option value="m-j">martes - jueves</option>
                    <option value="v">Viernes</option>
                </select>
                <app-validation-error class="order-3 h-fit" [form]="form" field="lesson_days" [errors]="['required']" (hasError)="lesson_days.classList.add('border-secondary')"></app-validation-error>
            </div>
            <div class="flex w-full nav:w-fit h-fit items-start flex-col gap-2 justify-center ">
                <label for="level">Level</label>
                <select name="" #level (input)="inputLevel(level)" formControlName="level"
                        id="level" class="p-1 border-2 rounded-lg bg-main-white shadow">
                    <option value="A1">A1</option>
                    <option value="A2">A2</option>
                    <option value="B1">B1</option>
                    <option value="B2">B2</option>
                    <option value="C1">C1</option>
                </select>
                <app-validation-error class="order-3 h-fit" [form]="form" field="level" [errors]="['required']" (hasError)="level.classList.add('border-secondary')"></app-validation-error>
            </div>
        </div>
        <div class="flex w-fit items-center justify-center">
            <button [disabled]="form.invalid" type="submit"
                    class="px-4 py-2 {{form.invalid ? 'cursor-not-allowed' : 'cursor-pointer' }} flex shadow items-center rounded-lg bg-main text-main-white transition-all ease-in-out hover:shadow-button-hover hover:scale-110">
                @if (isLoading()) {
                    <div class="flex items-center gap-2">
                        <app-loading-wheel></app-loading-wheel>
                        Loading ...
                    </div>
                } @else {
                    Create group
                }
            </button>
        </div>
    </form>
    <span (click)="close.emit(true)"
          class="flex items-center cursor-pointer text-secondary material-icons absolute top-0 right-0 p-1 hover:bg-secondary hover:text-main-white rounded-full duration-200 transition-all ease-in-out ">close</span>

    @if (showCropper()) {
        <div
            #cropper
            class=" fixed flex items-center justify-center top-0 left-0 w-screen h-screen z-[100] bg-gray-300 bg-opacity-50">
            <div class="w-screen relative max-w-screen-lg max-h-[80vh] flex flex-col items-center gap-5 p-5 bg-main-white shadow h-screen rounded-lg overflow-y-scroll">
                <div class="h-2/3 w-2/3 p-2 bg-main-white flex items-center justify-center bg-transparent shadow">
                    <image-cropper
                        [maintainAspectRatio]="true"
                        [imageChangedEvent]="imageChangedEvent"
                        [aspectRatio]="16 / 4"
                        (imageCropped)="imageCropped($event)"
                    ></image-cropper>
                </div>
                <div class="shadow w-2/3 h-fit">
                    <img alt="croppedImage" class="w-full" [src]="croppedUrl"/>
                </div>
                <button (click)="endCrop()" class="border-2 border-main p-2 rounded-lg text-main hover:scale-110 hover:bg-main hover:text-main-white transition-all ease-in-out hover:shadow-button-hover">
                    Upload
                </button>
                <span (click)="showCropper.set(false)" class="absolute top-1 right-1 rounded-full cursor-pointer hover:text-main-white p-1 text-secondary hover:bg-secondary transition-all duration-200 flex items-center material-icons">
                    close
                </span>
            </div>

        </div>
    }

</section>

