<section #loading>
</section>

<section class="w-full bg-main-grey">
    <div class="mt-[10vh] min-h-[90vh] max-w-screen-xl mx-auto p-4 flex gap-10 bg-main-grey">
        @if (isLoading()) {
        <div class="flex gap-4 w-full mt-20">
            <div class="w-full flex max-h-screen flex-col  max-w-screen-lg  gap-4">
                <div class="w-full h-[5rem] rounded-lg bg-gray-300 animate-pulse"></div>
                <div class="w-full h-[2rem] rounded-lg bg-gray-300 animate-pulse"></div>
                <div class="w-full h-full rounded-lg bg-gray-300 animate-pulse"></div>
            </div>
            <div class="w-[50rem] h-[7rem] rounded-lg bg-gray-300 animate-pulse"></div>
        </div>
        } @else {

        <div class="flex flex-col items-center max-w-screen-lg  w-max mx-auto gap-4 pt-10">

            <div class="pl-1 w-full flex justify-between">
                <span class="flex items-center gap-4">POST/
                    @if (update().group_id) {
                    <select #group_select class="bg-transparent">
                        @for (group of groups(); track $index) {
                        <option value="{{group.id}}">
                            {{group.name}}</option>
                        }
                    </select>
                    }@else {

                    {{ post().group_name }}

                    @if (loginSvc.user()?.role === 'teacher') {
                    <button (click)="update().group_id = true; updateAny.set(true)"
                        class="rounded text-center p-1 text-main flex items-center justify-center h-fit aspect-square hover:text-main-white hover:scale-105 transition hover:bg-main ">
                        <span class="material-icons w-fit">edit</span>
                    </button>
                    }
                    }
                </span>

                @if (updateAny()) {
                <button
                    class="p-2 rounded-lg border-2 border-secondary bg-transparent text-secondary hover:bg-secondary hover:text-main-white hover:scale-110 transition flex items-center gap-1">
                    <span class="material-icons h-full">save</span> Save
                </button>
                }@else {
                <span>
                    {{ post().created_at }}
                </span>
                }

            </div>

            <!-- Post name-->

            <div class="w-full border-b border-font-grey  pb-4">
                <h1 class="text-main font-bold text-5xl flex items-center justify-between gap-4">
                    @if (update().name) {
                    <input #nameInput type="text" class="bg-transparent border-2 rounded p-1" [value]="post().name">
                    }@else {
                    {{ post().name }}
                    }
                    @if (loginSvc.user()?.role === 'teacher') {
                    <button (click)="update().name=true; updateAny.set(true)"
                        class="rounded text-center p-1 h-full text-main flex items-center justify-center aspect-square hover:text-main-white hover:scale-105 transition hover:bg-main">
                        <span class="material-icons w-fit">edit</span>
                    </button>
                    }
                </h1>
            </div>
            <div class="w-full min-h-3 flex items-start">
                @if (update().description) {
                <textarea (focus)="triggerResize(descriptionInput)" autofocus (input)="triggerResize(descriptionInput)"
                    #descriptionInput class="border-2 rounded-lg w-[768px] h-fit p-2 bg-main-white"
                    placeholder="description" id="">{{post().description}}</textarea>
                }@else {
                <p class="w-[768px]">{{ post().description }}</p>
                @if (loginSvc.user()?.role === 'teacher') {
                <button (click)="update().description = true; updateAny.set(true)"
                    class="rounded text-center p-1 text-main flex items-center justify-center h-fit aspect-square hover:text-main-white hover:scale-105 transition hover:bg-main">
                    <span class="material-icons w-fit">edit</span>
                </button>
                }
                }
            </div>
            <div class="flex flex-col w-full gap-10">
                <div class="w-full flex flex-col gap-10">
                    @for (video of post().videos; track $index) {
                    <app-youtube-video [url]="video.link" [text]="video.link_name"></app-youtube-video>
                    }
                </div>
                <div class="w-full flex flex-col gap-10">
                    @for (multimedia of post().multimedia; track $index) {
                    <app-multimedia [file]="multimedia"></app-multimedia>
                    }
                </div>
            </div>
            <div class="flex flex-col w-full gap-5 mt-10">
                <h3 class="text-3xl text-secondary font-bold">Comentarios</h3>
                <div class="border-b-2 border-font-grey w-full flex">
                    <div class=" px-6 relative font-medium cursor-pointer transition {{privateComments()? '' : 'text-secondary'}} "
                        (click)="privateComments.set(false)">
                        Public
                        <div
                            class="absolute -bottom-[3px] left-0 h-[3px] transition ease-in-out bg-secondary w-full shadow {{privateComments()? 'translate-x-full' : ''}}">
                        </div>
                    </div>
                    <div class="border-b px-6 font-medium cursor-pointer transition {{!privateComments()? '' : 'text-secondary'}}"
                        (click)="privateComments.set(true)">
                        Private
                    </div>
                </div>
                <div class="flex w-full flex-col max-h-[60vh] overflow-y-scroll gap-4 pr-2">
                    @if (post().comments?.length === 0) {
                    <div class="w-full">
                        <span>No hay ningun comentario todavia</span>
                    </div>
                    } @else {
                    @for (comment of comments(); track $index) {

                    @if (((comment.public && !privateComments()) || (!comment.public && privateComments())) &&
                    comment.parent_id === null) {
                    <app-comment [comment]="comment" (answer)="answerComment.set($event.id); answerTo.set($event.name)"
                        [answerComments]="post().comments"></app-comment>
                    }
                    }
                    }
                </div>
                @if (answerComment()) {
                <div
                    class="text-main text-lg font-medium flex items-center justify-between w-full p-4 rounded-md border-2 border-font-grey ">
                    <div>
                        Comentario de respuesta a : <strong>{{ answerTo() }}</strong>
                    </div>
                    <button class="text-secondary aspect-square h-full"
                        (click)="answerComment.set(undefined); answerTo.set(undefined)">
                        <span class="material-icons  ">close</span>
                    </button>
                </div>
                }
                <div class="relative">
                    <form (submit)="postComment()" [formGroup]="postForm">
                        <input formControlName="Comentario" #commentInput type="text"
                            placeholder="Escriba su propio comentario"
                            class="p-2 bg-transparent rounded-full w-full h-full border-2 border-main shadow ">
                        <button [disabled]="postForm.invalid" type="submit" #submitButton
                            class="border-2 {{postForm.invalid? 'cursor-not-allowed' : 'hover:bg-secondary hover:text-main-grey transition hover:scale-x-110' }} rounded-r-full text-secondary border-secondary shadow absolute right-0 h-full w-auto aspect-square text-center  ">
                            <div class="h-full aspect-square flex items-center justify-center bg-transparent">
                                @if (isLoadingPost()) {
                                <img src="assets/img/loading_wheel.png" class="p-2 animate-spin aspect-square" alt="">
                                } @else {
                                <span class="material-icons text-center  transition">send</span>
                                }
                            </div>
                        </button>

                    </form>
                </div>
            </div>
        </div>
        @if (post().fileLinks?.length !== 0 || post().links?.length !== 0 || loginSvc.user()?.role === 'teacher') {
        <div class="w-full pt-20">
            <div class="p-4 rounded-xl border-2 border-main h-fit flex flex-col bg-main-white shadow">
                @if (post().fileLinks?.length !== 0 ) {
                <div class="w-full border-b border-font-grey  text-center pb-4 ">
                    <h1 class="text-secondary font-bold text-center text-2xl">Files</h1>
                </div>
                <div class="flex flex-wrap items-center justify-center pt-4 gap-2">
                    @for (file of post().fileLinks; track $index) {
                    <a class="p-4 pr-2 gap-2 rounded-2xl border-2 border-secondary flex items-center justify-between"
                        href="http://localhost:8000/api/post/file/{{file.id}}/download">{{ file.file_name }}
                        @if (loginSvc.user()?.role === 'teacher') {
                        <div class="w-fit">
                            <button
                                class="text-secondary rounded-full font-medium hover:scale-110 transition ease-in-out hover:bg-secondary hover:text-main-white flex items-center justify-center p-1">
                                <span class="material-icons w-full text-center">close</span>
                            </button>
                        </div>
                        }
                    </a>
                    }
                </div>
                }
                @if (post().links?.length !== 0) {
        
                <div class="w-full border-b border-font-grey  text-center pb-4 ">
                    <h1 class="text-main font-bold text-center text-2xl">Links</h1>
                </div>
                <div class="flex flex-wrap items-center justify-center pt-4 gap-2">
                    @for (link of post().links; track $index) {
                    <a class="p-4 flex items-center h-fit justify-between gap-2 rounded-2xl border-2 border-secondary pr-2" href="{{link.link}}" target="_blank">

                        {{link.link_name}}
                        @if (loginSvc.user()?.role === 'teacher') {
                        <div class="w-fit">
                            <button
                                class="text-secondary rounded-full font-medium hover:scale-110 transition ease-in-out hover:bg-secondary hover:text-main-white flex items-center justify-center p-1">
                                <span class="material-icons w-full text-center">close</span>
                            </button>
                        </div>
                        }
                    </a>
                    }
                </div>
                }
                @if (loginSvc.user()?.role === 'teacher') {
                <div class="w-full flex p-2 items-center justify-center">
                    <button
                        class="flex p-2 items-center gap-2 border-2 rounded-lg text-main border-main hover:bg-main hover:scale-110 hover:text-main-white transition">
                        <span class="material-icons">add</span> <span>|</span> Añadir link u archivo
                    </button>
                </div>
                }
            </div>

        </div>
        }

        }
    </div>
</section>