@if (user() === null) {
    <div class="rounded-full {{classList()}} bg-main-grey animate-pulse aspect-square h-[9vh]"></div>
} @else {
    <div class="group" (click)="showMenu.set(true)">
        <div
            class="{{classList()}} {{showMenu()? 'shadow -translate-x-full':''}} group-hover:shadow group-hover:-translate-x-full duration-200 ease-in-out  rounded-full h-fit peer transition-all aspect-square shadow flex items-center justify-center gap-2 bg-main-grey cursor-pointer z-50">

            <img class="h-[7vh] aspect-square rounded-full group-hover:"
                 src="{{environment.baseUrl}}api/user/{{loginSvc.user()?.id}}/profile-picture" alt="profile picture">

        </div>
        <div
            class="{{classList()}} z-30 cursor-pointer rounded-full shadow-main duration-300 ease-in-out flex items-center justify-end text-xl font-bold text-font-grey group-hover:w-[14vh] {{showMenu()?'w-[14vh]':''}}  bg-main-grey">
            <span class="w-[6vh]">{{ user()?.name }}</span>
        </div>
    </div>
}


@if (showMenu()) {
    <div class="fixed top-[11vh] right-1 gap-5 w-fit shadow-main bg-main-white rounded-lg p-10 flex flex-col">
        <div class="w-full text-3xl font-bold text-main">
            Bienvenido {{ user()?.name }}
            <div class="w-full text-xl font-bold text-dark-font">{{ user()?.email }}</div>
        </div>


        <div
            class="p-2 text-xl rounded-lg bg-main-grey shadow flex items-center gap-2 border-2 border-transparent text-dark-font hover:border-main hover:text-main hover:scale-110 transition-all">
            <span class="material-icons">face</span>
            Perfil
        </div>
        <div
            class="p-2 text-xl rounded-lg bg-main-grey shadow flex items-center gap-2 border-2 border-secondary text-secondary hover:bg-secondary hover:text-main-white hover:scale-110 transition-all">
            <span class="material-icons">logout</span>
            Cerrar sesion
        </div>

    </div>
}
