@if (isLoading()) {

} @else {
    <section class="max-w-screen-2x mx-auto bg-main-white flex flex-col gap-10 pb-20">
        <h1 class="w-full text-center text-7xl p-10 flex justify-center flex-col gap-2 items-center  font-bold text-main">
            Welcome back
            <span routerLink="/profile"
                  class="cursor-pointer text-5xl hover:px-2 transition-all text-secondary">{{ student().full_name }}</span>
        </h1>
        <div class="max-w-screen-2xl mx-auto rounded-lg flex flex-col gap-16 bg-main-white w-screen p-5 ">
            <h2 class="text-5xl font-bold w-full text-center pt-5 text-main hidden nav:flex">Tus entregas</h2>
            <div class="flex nav:flex-row flex-col items-center nav:items-start justify-between gap-10 w-full ">
                <div class="nav:w-fit w-full flex flex-col gap-5 p-4 rounded-lg shadow bg-main-grey h-fit">
                    <div class=" flex flex-col w-full nav:w-fit gap-4 p-4 h-fit rounded bg-main-grey">
                        <h3 class="w-full text-center text-dark-font text-2xl {{answered < 50 ? 'text-secondary' : 'text-dark-font'}} font-bold">
                            Tienes entregadas un </h3>
                        <div class="w-full overflow-hidden rounded-md bg-main-white shadow-lg h-10">
                            <div #percentageBar
                                 class="h-full text-main-white items-center p-2 w-full bg-main -translate-x-full duration-300 flex justify-end transition-all ease-in-out">
                                <span
                                    class="{{answered<= 10 ? 'translate-x-[200%] text-dark-font' : ''}}">{{ answered }}%
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class=" flex flex-col gap-4 p-4 h-fit rounded bg-main-grey">
                        <h3 class="w-full text-center text-dark-font text-2xl {{avgNote < 5 ? 'text-secondary' : 'text-dark-font'}} font-bold">
                            Nota media</h3>
                        <div class="w-full overflow-hidden rounded-md bg-main-white shadow-lg h-10">
                            <div #percentageNoteBar
                                 class="h-full text-main-white items-center p-2 w-full {{avgNote< 5 ? 'bg-secondary' : 'bg-main'}} -translate-x-full duration-300 flex justify-end transition-all ease-in-out">
                                <span
                                    class="{{avgNote<= 2 ? 'translate-x-[200%] text-dark-font' : ''}}">{{ avgNote }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="text-5xl font-bold w-full text-center pt-5 text-main flex nav:hidden">Tus entregas</h2>
                <div
                    class="nav:max-w-screen-lg max-w-[90vw] p-4 max-h-[70vh] overflow-y-scroll bg-main-grey shadow rounded-lg w-screen grid gap-5  grid-cols-1 nav:grid-cols-2">
                    @for (solution of solutions(); track $index) {
                        <app-your-solution-card  [solution]="solution"></app-your-solution-card>

                    }
                </div>
            </div>
        </div>
        <h5 class="text-main font-bold text-5xl w-full text-center py-20">Tus tareas</h5>
        <div
            class="max-w-screen-lg w-screen mx-auto flex flex-col p-10  items-center justify-center rounded-lg bg-main-grey gap-5">
            @if (assignments().length === 0) {
                <h6 class="text-4xl text-main font-bold w-full text-center">En hora buena tienes todas tus tareas
                    entregadas</h6>
            } @else {
                <h6 class="text-4xl w-full text-center text-secondary font-bold">Tu proxima entrega</h6>
                <app-assignment-card class="w-full" [assignment]="assignments()[0]"></app-assignment-card>
                @if (assignments().length -1 !== 0) {
                    @if (showAssignments()) {
                        @for(assignment of assignments(); track $index){
                            @if ($index !== 0){
                                <app-assignment-card class="w-full" [assignment]="assignment"></app-assignment-card>
                            }
                        }
                        <button routerLink="/assignments"
                                class="px-4 py-2 rounded-lg text-xl font-bold text-main border-2 border-main hover:scale-110 hover:bg-main hover:text-main-white hover:shadow-button-hover transition-all ease-in-out">
                            Ver todas las tareas
                        </button>
                    } @else {
                        <button (click)="showAssignments.set(true)"
                                class="px-4 py-2 rounded-lg text-xl font-bold text-main border-2 border-main hover:scale-110 hover:bg-main hover:text-main-white hover:shadow-button-hover transition-all ease-in-out">
                            Ver mas tareas
                        </button>
                    }
                } @else {
                    <button routerLink="/assignments"
                            class="px-4 py-2 rounded-lg text-xl font-bold text-main border-2 border-main hover:scale-110 hover:bg-main hover:text-main-white hover:shadow-button-hover transition-all ease-in-out">
                        Ver todas las tareas
                    </button>
                }
            }
        </div>
    </section>
}
