<div class="h-screen  mt-[10vh] min-h-[90vh] w-full bg-main-grey">
    <div class="max-w-screen-lg mx-auto flex flex-col gap-2 p-10">
        <h1 class="text-6xl text-main font-bold p-14 w-full text-center">
            Students
        </h1>
        <div class="w-full border-b-2 border-dark-font ">
        </div>
        <div class="w-full">
            <div class="w-full flex justify-between items-center">
                <button
                    class="px-4 text-main flex items-center gap-2 py-2 rounded-lg text-xl font-bold border-main border-2 hover:bg-main hover:text-main-white hover:scale-110 hover:shadow-button-hover transition-all duration-200 ease-in-out">
                    <span class="material-icons">sort</span> Filter
                </button>
                <div class="flex gap-2 items-center">
                    <input type="search" class="p-3 rounded-lg bg-main-white shadow peer focus:border-main border-2 border-transparent" placeholder="Search student...">
                    <button
                        class="p-2 text-main flex items-center gap-2 peer-placeholder-shown:text-font-grey peer-placeholder-shown:hover peer-placeholder-shown:border-none rounded-lg text-xl font-bold border-main border-2 hover:bg-main hover:text-main-white hover:scale-110 hover:shadow-button-hover transition-all duration-200 ease-in-out">
                        <span class="material-icons">search</span> | Search
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
