/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea, select {
    outline: none;
}



::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-main rounded-full shadow;
}
