<nav class="h-[15hv] bg-main-white fixed top-0 w-full shadow">
    <header class="w-full h-[10vh]  bg-main-white flex items-center justify-between max-w-screen-2xl mx-auto">
        <div #logo class="w-1/3">
            <img src="assets/img/logo.png" class="aspect-[12/3]  w-56" alt="">
        </div>
        <div #links class="h-full w-1/3 flex items-center flex-col">
            <ul
                class="h-full list-none flex gap-9 w-full justify-center items-end text-lg font-medium text-font-grey p-[2px]">
                <li class=" overflow-hidden">
                    <a routerLink="clases" class="group flex flex-col items-center">
                        Clases
                        <div
                            class="h-[2px] bg-font-grey transition -translate-x-full w-[150%] group-hover:translate-x-0 duration-300">
                        </div>
                    </a>

                </li>
                <li class="overflow-hidden">
                    <a href="" class="group flex flex-col items-center">
                        Tareas
                        <div
                            class="h-[2px] bg-font-grey transition -translate-x-full w-[150%] group-hover:translate-x-0 duration-300">
                        </div>
                    </a>
                </li>
                <li class="overflow-hidden">
                    <a href="" class="group flex flex-col items-center">
                        Posts
                        <div
                            class="h-[2px] bg-font-grey transition -translate-x-full w-[150%] group-hover:translate-x-0 ">
                        </div>
                    </a>
                </li>
            </ul>

        </div>
        <div #buttons class="w-1/3 flex h-full gap-4 justify-end items-start pt-4">
            <div>
                <button routerLink="/login"
                    class="py-1 w-24 px-2 rounded-lg border-[3px] border-secondary text-secondary font-bold bg-transparent hover:bg-secondary hover:text-main-white hover:scale-105 transition">
                    Login
                </button>
            </div>
            <div>
                <button routerLink="/register"
                    class="py-1 px-2 rounded-lg border-[3px] border-main text-main font-bold bg-transparent hover:bg-main hover:text-main-white hover:scale-105 transition w-24">
                    Register
                </button>
            </div>
        </div>
    </header>
</nav>
<main class="">
    <ng-content></ng-content>
</main>
<footer>
    <div class="w-full h-fit bg-blue-500">
        <ul>
            <li><a href="https://imstagram.com">IG</a></li>
            <li><a href="https://linkedin.com">Linkedin</a></li>
        </ul>
    </div>
</footer>
