<section class="w-full bg-main-grey min-h-[90vh] mt-[10vh] h-fit">
    <div class="max-w-screen-xl mx-auto flex flex-col pt-10">
        @if (isLoading()) {
            <div class="w-full flex items-center justify-center">
                <div class="h-96 rounded-full bg-gray-300 animate-pulse w-96"></div>
            </div>
        } @else {
            <div class="w-full flex flex-col gap-5 items-center justify-center pb-20">
                <div class="aspect-square h-96  relative group">
                    <img [src]="getUrl()"
                         alt="Profile_picture"
                         class="rounded-full h-full shadow"
                    >
                    <span
                        (click)="inputImg.click()"
                        class="absolute top-0 right-0 text-main hover:text-main-white group-hover:text-main-white cursor-pointer material-icons flex items-center p-1 rounded-full hover:bg-main group-hover:bg-main transition">
                        edit
                    </span>
                    <input type="file" class="hidden" #inputImg (change)="getProfile($event)">
                </div>

                <div
                    class="max-w-screen-lg  w-screen mx-auto  text-main pt-4 border-b-2 border-dark-font flex flex-col gap-2">
                    <h1 class="w-full text-secondary font-bold text-5xl text-center">{{ user().name }}</h1>
                    <h2 class="w-full text-main font-bold text-3xl text-center">{{ user().email }}</h2>
                    <div class="w-full flex text-xl font-medium text-dark-font">
                        <div (click)="show().data= true; show().data = true;"
                             class="border-b px-6 font-medium cursor-pointer transition relative">
                            Datos
                            <div
                                class="absolute -bottom-[3px] left-0 h-[3px] transition ease-in-out bg-secondary w-full shadow {{getTab()}}">
                            </div>
                        </div>
                        <div (click)="resetShow(); show().groups = true"
                             class=" px-6 font-medium cursor-pointer transition ">
                            Grupos
                        </div>
                        <div (click)=" resetShow(); show().solutions = true;"
                             class=" px-6 font-medium cursor-pointer transition ">
                            Tareas
                        </div>

                    </div>
                </div>
                @if (show().data) {
                    <div class="max-w-screen-lg mx-auto p-2 rounded-lg bg-main-white shadow w-screen h-fit ">
                        <div
                            class="w-full flex p-2 border-b-2 border-main text-center text-xl    font-bold text-main max-w-screen-md mx-auto">
                            <span class="w-full text-center">Perfil</span>
                            @if (edit()) {
                                <span
                                    class="w-fit material-icons p-1 rounded-full flex items-center text-secondary hover:text-main-white hover:bg-secondary cursor-pointer transition-all"
                                    (click)="edit.set(false)">cancel</span>
                            } @else {
                                <span
                                    class="w-fit material-icons p-1 rounded-full flex items-center text-main hover:text-main-white hover:bg-main cursor-pointer transition-all"
                                    (click)="edit.set(true)">edit</span>
                            }
                        </div>
                        <form [formGroup]="editForm" (submit)="putStudent($event)">
                            <div class="flex gap-2 max-w-screen-md w-screen text-lg mx-auto">
                                <div class="flex flex-col gap-8 p-10 basis-1/2">
                                    <div class="flex items-center gap-2">
                                        <span class="font-bold text-main">Full name :</span>
                                        @if (edit()) {
                                            <input formControlName="full_name" type="text"
                                                   class="p-1 bg-main-grey shadow"
                                                   [value]="student().full_name">
                                        } @else {
                                            <span>{{ student().full_name }}</span>
                                        }
                                    </div>
                                    <div class="flex items-center gap-2">
                                        <span class="font-bold text-main">Apellidos :</span>
                                        @if (edit()) {
                                            <input type="text" formControlName="surname"
                                                   class="p-1 bg-main-grey shadow">
                                        } @else {
                                            <span>{{ student().surname }}</span>
                                        }
                                    </div>
                                    <div class="flex items-center gap-2">
                                        <span class="font-bold text-main">Phone number</span>
                                        @if (edit()) {
                                            <input type="text" formControlName="phone_number"
                                                   class="p-1 bg-main-grey shadow">
                                        } @else {
                                            <span>{{ student().phone_number }}</span>
                                        }
                                    </div>
                                </div>
                                <div class=" flex flex-col gap-8 p-10">

                                    <div class="flex items-center gap-2">
                                        <span class="font-bold text-main">Level :</span>
                                        @if (edit()) {
                                            <select class="p-1 bg-main-grey shadow" formControlName="level" #levelInput
                                                    (change)="this.editForm.get('level')?.setValue(levelInput.value)">
                                                <option value="A1">A1</option>
                                                <option value="A2">A2</option>
                                                <option value="B1">B1</option>
                                                <option value="B2">B2</option>
                                                <option value="C1">C1</option>
                                            </select>
                                        } @else {
                                            <span>{{ student().level }}</span>
                                        }
                                    </div>
                                    <div class="flex items-center gap-2">
                                        @if (edit()) {
                                            <label class="font-bold text-main" for="birth_date">Fecha de
                                                nacimiento</label>
                                            <input id="birth_date" type="date" formControlName="birth_date"
                                                   class="p-1 bg-main-grey shadow">
                                        } @else {
                                            <span class="font-bold text-main">Age :</span>
                                            <span>{{ student().age }}</span>
                                        }
                                    </div>

                                    <button
                                        (click)="showTutors.set(true)"
                                        class="px-4 bg-main-grey py-2 text-lg text-main rounded-lg font-bold border-2 border-transparent hover:scale-110 hover:bg-main hover:text-main-white  transition-all ease-in-out">
                                        Tutores/padres
                                    </button>
                                </div>
                            </div>
                            @if (edit()) {
                                <div class="w-full flex justify-center">
                                    <button
                                        [disabled]="this.editForm.invalid"
                                        type="submit"
                                        class="px-4 mb-10 gap-2 py-2 rounded-lg border-2 border-main text-main text-xl font-bold {{editForm.invalid?'cursor-not-allowed': 'hover:bg-main hover:scale-110 hover:text-main-white hover:shadow-button-hover'}} transition-all duration-200 ease-in-out flex items-center">
                                        @if (isLoadingPut()) {
                                            <app-loading-wheel></app-loading-wheel> Cargando...
                                        } @else {
                                            <span class="material-icons">save</span> Guardar
                                        }
                                    </button>
                                </div>
                            }
                        </form>
                        <div
                            class="w-full p-2 border-b-2 border-main text-center text-xl    font-bold text-main max-w-screen-md mx-auto">
                            <span class="w-full text-center">Notas</span>
                        </div>
                        <div class="max-w-screen-md mx-auto flex flex-col p-10">
                            <div class="w-full text-lg grid grid-rows-2 grid-cols-2 gap-10 gap-x-20 text">
                                <div class=" font-medium flex items-center gap-2">
                                    <span class="text-main font-bold">Tareas enviadas : </span>
                                    <span>{{ submissions().length }}</span>
                                </div>
                                <div class=" font-medium flex items-center gap-2 ">
                                    <span class="text-main font-bold"> Nota media : </span>
                                    <span>{{ getAvgNote() }}</span>
                                </div>
                                <div class=" font-medium flex items-center gap-2">
                                    <span class="text-main font-bold">Tareas por calificar</span>
                                    <span>{{ this.unmarkedSolutions }}</span>
                                </div>
                                <div class=" font-medium flex items-center gap-2">
                                    <span class="text-main font-bold">Tareas por calificadas</span>
                                    <span>{{ this.submissions().length }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                } @else if (show().groups) {
                    <div class="max-w-screen-lg w-screen flex flex-col gap-5">
                        @for (group of groups(); track $index) {
                            <app-group-card [group]="group"></app-group-card>
                        }
                    </div>
                } @else if (show().solutions) {
                    <div class="max-w-screen-lg w-screen grid grid-cols-2 flex-col gap-5 p-3">
                        @for (solution of submissions(); track $index) {
                            <app-your-solution-card  [solution]="solution"></app-your-solution-card>
                        }
                    </div>
                }
            </div>
        }
    </div>
</section>

@if (showCropper()) {
    <app-dialog>
        <div
            class="max-w-screen-xl max-h-[80vh] items-center relative justify-center w-screen p-16 rounded-lg flex flex-col gap-10 overflow-scroll">
            <div class="h-1/2 w-auto mt-[75%]">
                <image-cropper
                    [imageChangedEvent]="originalImage"
                    [roundCropper]="true"
                    [aspectRatio]="1"
                    (imageCropped)="croppedImage = $event"
                >
                </image-cropper>
            </div>
            <div class="h-1/2 w-auto">
                <img class="rounded-full" [src]="croppedImage.objectUrl" alt="">
            </div>
            <div>
                <button (click)="getImage();"
                        class="flex gap-2 border-2 border-main px-4 py-2 rounded-lg text-xl text-main font-bold hover:text-main-white hover:bg-main hover:scale-110 hover:shadow-button-hover transition-all ease-in-out">
                    @if (isLoadingPutImage()) {
                        <app-loading-wheel></app-loading-wheel> Cargando...
                    } @else {
                        <span class="material-icons">upload</span> Subir imagen
                    }
                </button>
            </div>
            <span
                class="material-icons p-1 flex items-center rounded-full text-secondary transition-all ease-in-out hover:bg-secondary hover:text-main-white absolute top-0 right-0 cursor-pointer"
                (click)="showCropper.set(false)">close</span>
        </div>
    </app-dialog>
}

@if (showTutors()) {
    <app-dialog>
        <div class="flex flex-col gap-5 max-w-screen-md w-screen max-h-[80vh] relative">
            @if (parents().length !== 0) {
                <div class="w-full grid grid-cols-2 gap-5">
                    @for (parent of parents(); track $index) {
                        <div class="rounded-lg gap-5 p-4 bg-main-white shadow-lg flex flex-col">
                            <div class="w-full border-b p-2 text-center text-2xl font-bold text-main">
                                <span>{{ parent.name }} {{ parent.surname }}</span>
                            </div>
                            <div class="w-full">
                                <span>Email : </span> <span>{{ parent.user?.email }}</span>
                            </div>
                            <div class="w-full">
                                <span>Numero de telefono </span> <span>{{ parent.phone_number }}</span>
                            </div>
                        </div>
                    }
                </div>
            } @else {
                <div class="w-full text-2xl text-dark-font text-center">No hay ningun padre o tutor asociado a esta
                    cuenta
                </div>
            }

            <div class="w-full flex justify-center">
                <!--TODO    -->
                <button
                    class="px-4 text-main py-2 rounded-lg text-xl font-bold border-2 border-main flex gap-2 items-center hover:scale-110 hover:bg-main hover:text-main-white hover:shadow-button-hover transition-all ease-in-out duration-200">
                    <span class="material-icons">add</span> | Añadir tutor
                </button>
            </div>

            <span
                class="absolute top-0 right-0 p-1 flex items-center rounded-full text-secondary material-icons cursor-pointer hover:text-main-grey hover:bg-secondary transition-all ease-in-out"
                (click)="showTutors.set(false)">close
            </span>
        </div>
    </app-dialog>
}
