<div class="h-fit p-4 rounded-md border-2 border-main shadow-sm w-full relative"
     routerLink="/solution/{{solution().id}}">
    <div class="h-fit w-full flex flex-wrap items-center justify-between gap-4 ">
        <div class="flex  h-full  w-[65%] items-center gap-4">
            <div class="aspect-square shadow rounded-full w-1/3 mb-2">
                <img src="http://localhost:8000/api/user/{{solution().user_id}}/profile-picture"
                     class="h-full w-full aspect-square"
                     alt="Profile foto">
            </div>
            <div class="w-fit h-full flex flex-wrap items-center justify-between">
                <h1 class="text-dark-font font-bold">
                    {{ solution().student_name }}
                </h1>
            </div>
        </div>
        <button
            class="px-3 py-2 flex border-main border-2 rounded-lg text-main hover:scale-110 hover:bg-main hover:text-main-white transition ">
            Ver mas
        </button>
    </div>
    <div class="absolute top-1 right-1">
        <span class="text-secondary-grey">{{ date.transform(solution().updated_at, 'HH:mm dd/MM/yyyy') }}</span>
    </div>

</div>
